.hero__section {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/Img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }
}

.hero__container {
  width: 360px;
}

.hero__title {
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--card-set-gap);

  max-width: 360;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-btn-background-color);
    cursor: pointer;
    border-color: transparent;
  }
}