.features__section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.specifics {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.specifics__item {
  width: 100%;
  // & + & {
  //   margin-left: var(--card-set-gap);
  // }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.specifics__bgr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--card-set-gap);
  height: 120px;
  background: var(--section-background-color);
  border-radius: 4px;
}

.specifics__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}